<html>
<head>
<title>Airports</title>
</head>
<body bgcolor="#778899">

<h1 align="center">All airlines</h1>

<table border="2" align="center" rules="all" width="1000" height="80">
<tr><form target="frame2" action = "bottom.html">
	<th>Departure airport:</th>
	<th colspan=3><input type="text" name="departure" size="50" placeholder="Enter airport code, airport name, city or country" value="Moscow"></th>
	<th rowspan=2><a target="frame2" href="bottom.html"><input type="submit" value="Submit"></a></th>
	
</tr>
<tr>
	<th>Arrival airport:</th>
	<th colspan=3><input type="text" name="arrival" size="50" placeholder="Enter airport code, airport name, city or country"></th>
	</form>
</tr>

</table>
<br>


</body>


</html>